<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar Usuario.."
                        (keyup)="cargarUsuarios( txtTermino.value )"
                        #txtTermino
                />
                

            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <!-- <h4 class="card-title">Usuario ({{ usuario.length }})</h4>  -->
                        <h4 class="card-title">Trabajadores ({{ totalUsuarios}}) - {{ desde }}</h4> 
                        <!-- <h6 class="card-subtitle">
                            Usuario registrados en mi aplicación
                        </h6> -->
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-info"
                                routerLink="/dashboard/usuario/nuevo">
                                <i class="fa fa-hospital-o"></i> 
                                Crear Trabajador
                            </a>
                        </div>
                    </div>

                </div>
                
                <!-- <h4 class="card-title">Usuarios</h4> -->
                <!-- <h6 class="card-subtitle">Add<code>.table-striped</code>for borders on all sides of the table and cells.</h6> -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Nombre Completo</th>
                                <!-- <th>Fecha Entrada</th> -->
                                <!--  <th>Apellido</th> -->
                                <th>CI</th>
                                <th>Celular</th>
                                <th>Genero</th>
                                <th>Estado</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuarios of usuario">
                                <td>{{ usuarios.email }}</td>
                                <td>{{ usuarios.name_role }}</td>
                                <td>{{ usuarios.name }} {{ usuarios.last_name }}</td>
                                <!-- <td>{{ usuarios.end_date }}</td> -->
                                <td>{{ usuarios.ci }}</td>
                                <td>{{ usuarios.cellphone }}</td>
                                <td>{{ usuarios.gender }}</td>
                                <!-- <td>{{ usuario.nombre }}</td> -->
                                <td>
                                    <select class="form-control"
                                        [(ngModel)]="usuarios.state"
                                        (change)="cambiarStado(usuarios)"
                                        [ngClass]="usuarios.state ? 'activo' : 'inactivo'"
                                    >
                                        <option [ngValue]="true">activo</option>
                                        <option [ngValue]="false">inactivo</option>
                                    </select>
                                </td>
                                <!-- <td>
                                    <div class="progress progress-xs margin-vertical-10 ">
                                        <div class="progress-bar bg-danger" style="width: 35% ;height:6px;"></div>
                                    </div>
                                </td> -->
                                <td class="text-nowrap">
                                    <a [routerLink]="['/dashboard','usuario', usuarios.id ]" 
                                        data-toggle="tooltip" 
                                        data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a class="cursor"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        (click)="borrarUsuario(usuarios)"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarPagina(-6)" class="btn btn-secondary">Anterior</button>
                &nbsp;
                <button (click)="cambiarPagina(6)" class="btn btn-secondary">Siguiente</button>
            </div>
        </div>
    </div>
</div>