<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Venta de Menu:</h4>
                    </div>
                    <div class="ml-auto">
                        <div class="form-group row">
                            <!-- Seleccione Año_Mes -->
                            <label for="example-month-input" class="col-sm-2 col-form-label">Fecha Inicio*</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" id="example-month-input"
                                    [(ngModel)]="fehcaInicio"
                                    (change)="cambiarFehaInicio($event)">
                            </div>
                    
                            <!-- Fecha -->
                            <label for="example-date-input" class="col-sm-2 col-form-label">Fecha Final*</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" id="example-date-input"
                                    [(ngModel)]="fechaFinal"
                                    (change)="cambiarFechaFinal($event)">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Venta ({{ totalVenta}}) - {{ desde }}</h4> 
                        <h4 class="card-title">MENU</h4> 
                    </div>
                    
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-info"
                                routerLink="/dashboard/venta/nuevo">
                                <i class="fa fa-hospital-o"></i> 
                                Nueva Venta
                            </a>
                        </div>
                    </div>

                </div>
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Fecha </th>
                                <th class="text-nowrap">Total</th>
                                <th class="text-nowrap">Cliente</th>
                                <!-- <th>Imagen</th> -->
                                <th class="text-nowrap">Informacion</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venta of ventaArray">
                                <td>{{ venta.fecha | date:'yyyy-MM-dd' }}</td>
                                <td>{{venta.total}}</td>
                                <td></td>
                                <td class="text-nowrap">
                                    <a [routerLink]="['/dashboard','venta', venta.id ]"
                                        data-toggle="tooltip" 
                                        data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a class="cursor"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        (click)="borrarVenta(venta)"
                                        > 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                    &nbsp;
                                    <a class="btn btn-info text-white"
                                        (click)="abrirModalDetalle(venta.id)"
                                    >
                                        <i class="fa fa-hospital-o"></i> 
                                        Detalle
                                    </a>
                                </td>
                                <!-- <div class="text-right">
                                    <a class="btn btn-info"
                                        routerLink="/dashboard/venta/nuevo">
                                        <i class="fa fa-hospital-o"></i> 
                                        Nueva Venta
                                    </a>
                                </div> -->
                                
                                <!-- <td class="text-nowrap">
                                    <a>
                                        <i class="cursor">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                            </svg>
                                        </i>
                                    </a>
                                    &nbsp;
                                    <a (click)="onImprimir(vacations)">
                                        <i class="cursor">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                            </svg>
                                        </i>
                                    </a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarPagina(-6)" class="btn btn-secondary">Anterior</button>
                &nbsp;
                <button (click)="cambiarPagina(6)" class="btn btn-secondary">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<!-- abrir modal de venta detalle -->
<div class="overlay" *ngIf="abrilModalDetalle">
    <div class="form-container">
      <app-ventadetalle
        (cancelarVentaDet)="cancelarVentaDet()"
        [selectedIDVenta]="selectedIDVenta"
      ></app-ventadetalle>
    </div>
</div>